<div class="nested-fields" style="
    padding: 11px; 
    background-color: aliceblue;
    border: 1px solid; 
    margin-top: 12px;
    border-radius: 2px;
">
    <div class="field"> 
        <div class="field">
            <%= f.label :documento%>
            <%= f.file_field :documento%>
        </div>
    </div>
</div>