
<div class="col-md-4 col-sm-4 " style="font-family: Gilroy;padding-right:0px;">
    <div class="x_panel tile fixed_height_320 overflow_hidden"  style="width: 100%;margin-left: -2px;height: auto;min-height: 521px;background: #ffffff;box-shadow: 0px 0px 3px #415467;">
        <div class="x_title" style="color: #1abb9c;font-family: Gilroy ExtraBold;">
            <h2><i class="fa fa-info" style="margin-right:10px"></i>Informativos</h2> 
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="color: #4a70a2;font-size: 23px;text-shadow: 0px 0px 1px #adb9c5;padding: 27px;margin-top: -20px;margin-left: -30px;padding-bottom: 0px;"> 
            <div class="col-md-4">
                <h1></h1>
                <p >Em 1988, representantes do povo brasileiro, reunidos em Assembléia Nacional Constituinte para instituir um Estado Democrático, destinado a assegurar o exercício dos direitos sociais e individuais, a liberdade, o bem-estar, o desenvolvimento, a igualdade e a justiça como valores supremos de uma sociedade fraterna, pluralista e sem preconceitos, fundada na harmonia social e comprometida, com a solução pacífica das controvérsias, promulgaram a Constituição Federal (hoje em vigor), que, em seu Título IX – Das disposições Constitucionais Gerais, determina, dentre outras coisas, que a função notarial e de registro será exercida em caráter privado por delegação do Poder Público (art. 236).</p>
                <p>A partir dessa definição, Notários e Registradores passaram a existir como categoria profissional, antes contida nos quadros do Poder Judiciário como “serventuários da justiça”, e o surgimento dessa “nova categoria” permitiu a sua organização em sindicato.
                O art. 8º da Constituição da República veio nos dizer que a associação profissional ou sindical é livre, devendo enfatizar-se, em suma, que “ao sindicato cabe a defesa dos direitos e interesses coletivos ou individuais da categoria, inclusive em questões judiciais ou administrativas” (inciso III) – sendo essa a causa primeira de todas as lutas do dia-a-dia: representar a Categoria Profissional de Notários e Registradores com todo esmero e dedicação que a Carta Magna de 88 nos sugere, defendendo os direitos e interesses da categoria em todas as esferas judiciais e administrativas.</p>
                <p>Foi nesse contexto que nasceu o Sindicato dos Notários, Registradores e Distribuidores do Estado do Ceará – SINOREDI/CE, aos 8 dias do mês de dezembro de 2007, em Fortaleza/CE, quando Cartórios de todo o Estado, inspirados no Instituto de Registro de Títulos e Documentos e de Pessoas Jurídicas do Ceará – IRTDPJ/CE  e na Associação dos Notários e Registradores do Estado do Ceará – ANOREG/CE, reuniram-se em Assembleia e fundaram o nosso Sindicato.</p>
            </div>
        </div>
    </div>    
</div> 