<div>  
<%= month_calendar events: @restrito_tela_agenda_atividades do |date, atividades| %>
<%= date.strftime("%d") %>

<% atividades.each do |atividade| %> 
    <div id="atividade">
        <%if atividade.status == "Aberto"%> 
            <div id="<%=atividade.nivel%>"> 
            <p><%= link_to atividade.titulo, atividade %></p>
            </div> 
        <% end %> 
    </div> 
<% end %>
<% end %>
</div>    