
<div id="index">
    <div class="calendario"><%= render 'teste'%>
        <div class="CadastroAgenda"> 
            <%= render 'form', restrito_tela_agenda_atividade: @restrito_tela_agenda_atividade %> 
        </div>
    </div>
</div>