<div id="index"> 
  <div class="calendario">
    <%= render 'teste', style:'float: left;'%>
    <br> 
  </div> 
  <div class="atv">
    <div class="add">
      <%= link_to '',new_restrito_tela_agenda_atividade_path,method: :get,datacustomopen:"modal-1",class:"fa fa-plus",style:"background: aliceblue;border: 7px solid #6285a4;background: #00fbcf;font-size: 43px;border-radius: 30px;padding: 2px 7px;text-align: left;padding-right: 83px;position: fixed;top: 88%;left: 97%;float: right;z-index: 9;color: #6284a4;border-style: double;"%>
    </div>
      <span class="add_atv">Adicionar atividade </span> 
  </div>
</div>
