<div class="simple-calendar">
  <div > 
  </div> 
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block).strftime("%Y") %>
              <% else %>
                 <% passed_block.call day, sorted_events.fetch(day, []) %><br>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
</div> 