<div class="col-md-4 col-sm-4 " style="font-family: Gilroy;padding-right:0px;width: 99.5%;">
    <div class="x_panel tile fixed_height_320 overflow_hidden"  style="margin-left: -2px;height: auto;min-height: 521px;background: #ffffff;box-shadow: 0px 0px 3px #415467;">
        <div class="x_title" style="color: #1abb9c;font-family: Gilroy ExtraBold;">
            <h2><i class="fa fa-cogs" style="margin-right:10px"></i>Ferramentas.</h2> 
            <div class="clearfix"></div>
            
        </div>
        <div style="float: left;width: 35%;padding: 7px;padding-left: 13px;box-shadow: 2px 3px 5px #2a3f5347;border-left: 3px solid #1abb9c;">
            <h2 style="color: #1abb9c;font-size: 25px;margin-top: 0px;font-family: Gilroy ExtraBold;">Assunto do atendimento.</h2>
            <ul style="font-size: 20px;padding-left: 0px">
                <li style="padding: 2px;list-style: none;"><%= link_to 'Gerenciar Assuntos.', assunto_atendimentos_path,class:'modal__btn modal__btn-primary',style:"font-size: 18px;background-color: #2b3c8f;font-family: Gilroy ExtraBold;width: 98.6%;"%></li>
                <li style="padding: 2px;list-style: none;"><%= link_to 'Adicionar Assuntos.', new_assunto_atendimento_path,class:'modal__btn modal__btn-primary',style:"font-size: 18px;background-color: #2b3c8f;font-family: Gilroy ExtraBold;width: 98.6%;"%></li>
            </ul>
        </div>
    </div>    
</div> 